aiohappyeyeballs==2.6.1
aiohttp==3.12.14
aiohttp-jinja2==1.6
aiosignal==1.4.0
astroid==3.3.10
attrs==25.3.0
certifi==2025.7.9
charset-normalizer==3.4.2
click==8.2.1
dill==0.4.0
frozenlist==1.7.0
geographiclib==2.0
geopy==2.4.1
idna==3.10
isort==6.0.1
Jinja2==3.1.6
linkify-it-py==2.0.3
markdown-it-py==3.0.0
MarkupSafe==3.0.2
mccabe==0.7.0
mdit-py-plugins==0.4.2
mdurl==0.1.2
msgpack==1.1.1
multidict==6.6.3
nodeenv==1.9.1
platformdirs==4.3.8
propcache==0.3.2
Pygments==2.19.2
pylint==3.3.7
pylint-venv==3.0.4
pyright==1.1.403
requests==2.32.4
rich==14.0.0
textual==3.7.1
textual-dev==1.7.0
textual-serve==1.1.2
tomlkit==0.13.3
typing_extensions==4.14.1
uc-micro-py==1.0.3
urllib3==2.5.0
yarl==1.20.1
